@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Ramaraja', serif; */
/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Roboto', sans-serif; */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    --color-base: #1b4d21;
    --color-fonce: #201453;
    --color-clair: #DBA963;
    --color-gris: #747474;
    --font-makwa: 'Ramaraja', serif;
    --font-serif: 'Libre Baskerville', serif;
    --font-sans: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 0.5fr;
    /* background-image: url("../img/river.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh; */
}

aside {
    z-index: 1;

    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.8fr 0.5fr 2fr 0.8fr;
    gap: 5px;
    align-items: start;
    justify-items: center;
    text-align: center;
}

.rs{
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 15px -4px #47FF5C;
    box-shadow: 0px 2px 15px -4px #47FF5C;
    background: #FFFFFF88;
}
.logo img {
    width: 100%;
    /* height: 17rem; */
}

aside .titre {
    -webkit-box-shadow: 0px 2px 15px -4px #47FF5C;
    box-shadow: 0px 2px 15px -4px #47FF5C;
    background: #FFFFFF88;
    font-size: 4rem;
    font-family: var(--font-makwa);
    letter-spacing: 2px;
    line-height: 4rem;
}

aside .titre a {
    overflow: hidden;
    color: black;
}

aside .menu {
    -webkit-box-shadow: 0px 2px 15px -4px #47FF5C;
    box-shadow: 0px 2px 15px -4px #47FF5C;
    background: #FFFFFF88;
    border-radius: 10px;
    font-size: 1.7rem;
    font-family: var(--font-serif);
    letter-spacing: .2rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
}

aside .menu a {
    color: #000;
    font-weight: bolder;
}

.modal-btn {
    cursor: pointer;
}

.tSection {
  padding: 20px;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 2px 15px -4px #465548;
  box-shadow: 0px 2px 15px -4px #465548;
  background: #FFFFFF88;
  font-size: 2rem;
  background-color: ;
}

.content {
    width: 100%;
}
.grille {
  max-width: 1300px;
  width: 80%;
  height: auto;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.5rem;
  justify-content: center;
}

.item {
  position: relative;
  background-color: rgb(232, 234, 240);
  width: 300px;
  height: 500px;
  font-family: var(--font-sans);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item .image {
  height: 300px;
  background-color: #000;
  overflow: hidden;
  transition: height 0.3s;
}

.item:hover .image {
  height: 200px;
}

.image img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3s;
}

.item:hover .image img {
  opacity: 0.6;
  transform: scale(1.3);
}

.dnouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orangered;
  font-family: var(--font-sans);
  color: white;
  text-align: center;
  line-height: 13px;
  font-size: 10px;
  font-weight: bold;
  padding-top: 16px;
  text-transform: uppercase;
}

.body {
  position: relative;
  padding: 20px;
  height: 200px;
}

.body .promo {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: orangered;
  font-family: var(--font-sans);
  color: white;
  line-height: 25px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.body .lib1 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  text-align: center;
}

.body .lib2 {
  color: orangered;
  font-size: 15px;
  padding: 0 0 5px 0;
}

.body .desc {
  color: var(--color-gris);
  font-size: 14px;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

.item:hover .desc {
  opacity: 1;
}

.duréeprix {
  position: absolute;
  bottom: 60px;
  left: 90px;
  width: 50%;
  height: 30px;
  font-family: var(--font-sans);
  font-size: 1.5rem;
  /* line-height: 16px; */
  font-weight: bold;
}

.cdtprix .cdt {
  margin-right: 15px;
}

.btnPanier {
  position: absolute;
  bottom: 0;
  left: 90px;
  width: 30%;
  height: 30px;
  box-shadow: inset 0px 39px 0px -24px #9fb4f2;
  background-color: #7892c2;
  border-radius: 4px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 16px;
  font-weight: bold;
  padding: 5px;
  margin: 10px auto;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  text-align: center;
}

.btnPanier:hover {
  background-color: #476e9e;
}
