@media only screen and (max-width: 767px) {
  /* ===== Header ===== */
  header{
      min-height: 0;
  }
  header .hamburg{
    display: block;
    color: #FFF;
    background: #000;
    /* width: 100%; */
    cursor: pointer;
    text-align: right;
    padding: 15px 24px;    
  }
  header .logo{
    display: none;
  }
  header nav .titre{
    display: block;
    position: fixed;
    top: 0;
    left: 20px;
    color: #FFF;
    font-size: 3rem;
    font-family: var(--font-makwa);
  }
  header nav .titre a{
    text-decoration: none;
    color: #FFF;
  }
  header nav ul{
    max-height: 0px;
    background: #000;
  }
  header nav ul li{
    width: 100%;
    padding: 10px 0;
  }
  header .menu{
    max-height: 25em;
    padding-left: 0;
  }
  header .menu a{
    color: #FFF;
  }
   
  main{
    margin-top: 70px;
  }

  /* ===== Titre section ===== */
  .line{
    display: block;
    padding-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .line .gauche, .line .droite{
    display: none;
  }
  /* ===== Presentation ===== */
  #presentation{
      margin: 20px 0;
      display: block;
  }
  #presentation img{
      display: block;
      margin: 0 auto;
  }
  #presentation .titre{
      text-align: center;
      font-size: 3rem;
  }

  /* ===== Boutique ===== */
  #boutique{
    display: block;
  }

  #boutique .grille{
    display: block;
  }

  #boutique .item{
    margin: 30px auto;
  }
  /* ===== Blog ===== */

  #blog .grille{
    display: block;
  }

  #blog .blog-card{
    margin-bottom: 15%;
  }
  #blog .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
  #blog .blog-slider__item {
    flex-direction: column;
  }
  #blog .blog-slider__item {
    flex-direction: column;
 }
 #blog .blog-slider__content {
  margin-top: -80px;
  text-align: center;
  padding: 0 30px;
}

  /* ===== Poissons ===== */
  #poissons .grille{
    margin-top: -20px;
  }

 
  /* ===== Histoire ===== */

  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }

   /* ===== Partenaires ===== */
   #partenaire .container1-grid,
   #partenaire .container2-grid{
     display: block;
   }

   /* ===== Contact ===== */
   #contact .container{
     display: block;
   }

   #contact .contact-form{
     display: block;
     margin: 0;
     padding: 0;
     text-align: left;
   }
}