<ul class="flist1">
    <li class="flien"><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
    <li class="flien"><a href="#"><i class="fab fa-instagram-square"></i>Instagram</a></li>
    <li class="flien"><a href="#"><i class="fab fa-youtube"></i>You Tube</a></li>
</ul>

<ul class="flist2">
    <li class="flien"><a href="#">Contacts</a></li>
    <li class="flien"><a href="#">Points de vente</a></li>
    <li class="flien"><a href="#">Livraisons</a></li>
    <li class="flien"><a href="#">Paiements</a></li>
</ul>
<ul class="flist3">
    <li class="flien"><a href="#">CGV</a></li>
    <li class="flien"><a href="#">CGU</a></li>
    <li class="flien"><a href="#">Mentions légales</a></li>
</ul>
