<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://kit.fontawesome.com/f65dcb3806.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Makwa Fishing</title>
</head>

<body>
  <header>
    <nav>
      <div class="titre"><a href="#">Makwa Fishing</a></div>
      <div class="hamburg">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo"><img src="{% static 'img/logo.jpg' %}""></img></div>
      <div class=" menu">
        <ul>
          <li><a href="#">Services<br>et produits</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Les poissons</a></li>
          <li><a href="#">Notre histoire</a></li>
          <li><a href="#">Partenaires</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section id="presentation">
      <img src="{% static 'img/presentation.png' %}"></img>
      <div class="body">
        <p class="titre">Lorem ipsum dolor sit amet.</p>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fuga quibusdam accusamus
          exercitationem labore magni officia, maiores omnis aliquam cumque.</p>
      </div>
    </section>
    <section id="boutique">
      {% for p in produits %}
      <div class="item">
        <div class="image"><img src="/media/{{ p.img }}" alt="{{ p.imgAlt }}"></img></div>
        <div class="body">
          {% if p.promo %}
          <div class="promo">Promo</div>
          {% endif %}
          <div class="lib1">{{ p.lib1 }}</div>
          <div class="lib2">{{ p.lib2 }}</div>
          <p class="desc">{{ p.desc }}</p>
        </div>
        <div class="duréeprix">
          <span class="durée">{{ p.durée }}</span>
          <span class="prix">$ {{ p.puht }} </span>
        </div>
        {% if p.nouveau %}
        <div class="dnouveau">
          <span class="nouveau">nouveau</span>
        </div>
        {% endif %}
        <div class="btnPanier">Ajouter</div>
        <div class="ref hidden">{{ p.ref }}</div>
        <div class="adr_img hidden">{{ p.img }}</div>
      </div>
      {% endfor %}
    </section>
    <section id="blog">
      <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(/static/img/blog01.jpg)"></div>
          <ul class="details">
            <li class="author"><a href="#">Makwa Fishing</a></li>
            <li class="date">Aug. 24, 2015</li>
          </ul>
        </div>
        <div class="description">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
            praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Lire ...</a>
          </p>
        </div>
      </div>
      <div class="blog-card">
        <div class="meta">
          <div class="photo" style="background-image: url(/static/img/blog02.jpg)"></div>
          <ul class="details">
            <li class="author"><a href="#">Makwa Fishing</a></li>
            <li class="date">July. 15, 2015</li>
          </ul>
        </div>
        <div class="description">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
            praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
          <p class="read-more">
            <a href="#">Lire ...</a>
          </p>
        </div>
      </div>
    </section>
    <section id="poissons"></section>
    <section id="histoire"></section>
    <section id="partenaires"></section>
    <section id="contact"></section>
  </main>
  <script src={% static 'js/index.js' %}></script>
  <script>
    $(document).ready(function(){
      $(".hamburg").on("click", function(){
        $("nav ul").toggleClass("menu");
      });
    });
  </script>
</body>

</html>