<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      line-height: 0.7;
    }
    h1{
      border: 1px solid black;
      font-size: 40px;
    }
    a{
      border: 1px solid black; 
    }
  </style>
  <title>Document</title>
</head>
<body>
  <h1>Essai</h1>
  <a href="#">balise a</a>
</body>
</html>